body {
  background: black;
  color: #53FF08;
  font-family: 'VT323';

  background-color: rgba(0, 0, 0, 0.6) !important;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/af/6d/52/af6d5228b42a6769cccaed3c96e07ec9.jpg');
  background-blend-mode: color;
}



.panel-body {
  height: 250px;
  border: none;
  box-shadow: 0 0 100px darkgreen;
  cursor: pointer;
}

.panel-body:hover {
  box-shadow: 0 0 150px green;
}

.panel-default {
  background-color: #000000;
  text-align: center;
  border: 1px solid darkgreen;
  border-radius: 5px;
}

#robo-baby {
  position: absolute;
  left: 30%;
  top: 20%;
}

#robo-baby img {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

#start-button, .game-hub, #corePuzzle, #visualPuzzle, #motorPuzzle, .output, .exit-button, .alert, .intro, .secKeyInput, .secKeyDisplay, #robo-baby {
  display: none;
}

#start-page-text {
  border: none;
  width: 75px;
  text-align: center;
  background: black;
  background: none;
}

#start-page-text:focus {
  outline: none;
}
#secKeyInput{
  background: black;
}
#secKeyInput:focus {
  outline: none;
}

#start-page-header {
  text-align: center;
  position: absolute;
  top: 47%;
  left: 44%;
}

#power-button {
  width: 100px;
}

.container {
  margin: 10px 10%;
  padding: 0px;
  width: 80%;
}

.mid-row {
  position: absolute;
  top: 39%;
  left: 15%;
  width: 60%;
}

.bot-row {
  position: absolute;
  bottom: 0px;
}

.game-hub-status, .failed-span {
  color: red;
}

.panel-body h3 {
  font-size: 40px;
}

.panel-body h2{
  font-size: 32px;
}

#corePuzzle, #visualPuzzle, #motorPuzzle, .intro, .secKeyInput, .secKeyDisplay {
  position: absolute;
  top: 10%;
  text-align: justify;
  background: black;
  border: 5px solid gray;
  box-shadow: 0 0 100px white;
  border-radius: 15px;
}

#corePuzzle .row, #visualPuzzle .row, #motorPuzzle .row {
  width: auto;
  margin: 10px 20px;
}

#visualPuzzle h4, #motorPuzzle h4 {
  text-align: left;
  font-size: 32px;
}

ul {
  list-style-type: none;
  font-size: 28px;
  text-align: center;
}

.option-list {
  list-style-type: decimal;
  text-align: left;
}

.option:hover {
  background: #53FF08;
  color: black;
  cursor: pointer;
}

.alert {
	text-align: center;
	margin: 0 auto;
	background: #ff4d4d;
	color: darkred;
	border: 4px solid darkred;
	width: 20%;
  position: absolute;
  top: 30%;
  left: 30%;
}

.alert h2 {
	font-size: 34px;
}

.alert h5 {
	font-size: 18px;
	padding: 0 2px;
}

button {
	background: black;
	border: 1px solid darkgray;
	box-shadow: 0 0 3px green;
}

button:hover {
	box-shadow: 0 0 20px green;
}

button:focus {
	outline: 0;
}



.intro, .secKeyInput, .secKeyDisplay{
  text-align: center;
  padding: 10px;
}

.secKeyHints {
  font-size: 15px;
  margin: 1px 4px;
  padding: 0px;
  text-align: left;
  list-style-type: decimal;
}

.mid-row .col-md-4 {
  width: 430px;
}

.secKeyDisplay .panel-body h2 {
  margin-top: 2px;
}

.office-runaway-form, .sit-form, .office-fight-form, .resist-form, .resist-two-form, .follow-form, .operating-room-form, .try-escape-form, .hide-attempt-form, .ending-scene{
  display: none;

}

.output {
  float: right;
}

.power-shadow-green {
  box-shadow: 0 0 1000px lightgreen;
}

.power-shadow-white {
  box-shadow: 0 0 100px white;
}
